body{
background-color: burlywood;
}



.header img{
height: 100px;
width: 100px;
}
.header h2{
margin-left: 120px;
margin-top: -65px;
font-family: Arial, Helvetica, sans-serif;
font-size: x-large;
}
.header marquee{
margin-top: 25px;
color: white;
background-color: rgb(0, 0, 0);
font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    background-color: rgb(255, 251, 0);
}
.content p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content img{
width: 430;
height: 230px;
margin-left: 880;
margin-top: -300;
margin-right: 20px;
}
.content{
background-color: darkcyan;
}
.search form{
margin-top:130px;
}
.search h3{
margin-top:-200px;
color: red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


